.search-bar-container{
    width:100%;
    min-height:40px;
    margin-top:10px;
    
    display:grid;
    
    
    background-color:purple;
}

.search-bar{
    display:flex;
    
    grid-template-columns:77% 10% 13.2%;
    column-gap: space-evenly;
    align-content: stretch;
    height:100%;

    background-color: white;
    border: 2px solid limegreen;
}

.search-input{
    border:none;
    padding-left:5px;
    width:77%;
    font-weight:bold;
    font-size:15px;
}

.search-button{
    background-color: lightblue;
    font-weight:bold;
    width:13%;
    font-size: 1.2em;
    border:none;
}

.search-button:hover,
.search-button:focus{
    background-color: darkblue;
    color:white;
    cursor: pointer;
    
}


/***
***
Filter DropDown Section
***
***/

.filter-dropdown{
    position: relative;
    height: 100%;
    width:10%;
    
    
}

.filter-dropdown-button{
    border: none;
    width: 100%;
    background-color: rgb(207, 205, 205);
    font-weight: bold;
    font-size: 1.2em;
    height:100%;
}


/* change filter button color on hover/focus */
.filter-dropdown-button:hover ,
.filter-dropdown-button:focus{
    cursor: pointer;
}

/* Filter dropdown content (Hidden by default) */
.filter-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* buttons inside the dropdown */
.filter-dropdown-content input{
    color: black;
    text-decoration: none;
}

/* change color of dropdown buttons on hover */
.filter-dropdown-content input:hover{
    background-color: red;
    cursor: pointer;
}


.hover-dark{
    height:40px;
    text-align: center;
}
.hover-dark:hover{
    background-color: lightslategray;
}

.filter-dropdown:hover .filter-dropdown-content {
    display: flex;
    flex-direction: column;
    
}

.filter-dropdown:hover .filter-dropdown-button {
    background-color: #3e8e41;
    color:white;
}


/* vocab search result card */
.vocab-search-result-card{
    display:grid;
    grid-template-columns: repeat(2, minmax(auto,30%)) 40%;
    column-gap: 10px;
    border-bottom: 1px solid blue;
    justify-content: center;
    margin-top:10px;
}

.vocab-search-result-card-section-1{
    display: grid;
    grid-template-rows: 30%;
    justify-content: center;
    font-size: 20px;
}
.vocab-search-result-card-section-2{
    display: grid;
    grid-template-rows: 34%;
    justify-content: center;
    font-size: 20px;
}
.vocab-search-result-card-section-3{
    display: grid;
    grid-template-rows: 25%;
    justify-content: center;
    font-size: 20px;
}
.vocab-search-result-card-kanji{
    font-size: 35px;
   text-align: center;
}
.vocab-search-result-card-hiragana{
    align-self: center;
}
.vocab-search-result-card-type{
    padding-top: 25px;
    align-self: center;
}
.vocab-search-result-card-english{
    text-align: center;
}
.vocab-search-result-card-romaji{
    align-self: top;
    
}


