.practice-card{
    display: grid;
    grid-template-columns: repeat(3, 15%);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.practice-card p{
    display:flex;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 100%;
}

.count-down{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: silver;
}

.route-button{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    
    border-radius:5px;
    margin-left: 45%;
    margin-top:20px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, rgb(228, 185, 217) 05%, rgb(93, 220, 223) 100%);
    transition: height 600ms,box-shadow 600ms, color 300ms;
}

.route-button:hover,
.route-button:focus {
    color: black;
    box-shadow: 0px 0px 10px 10px rgba(34,193,195,1);
    
}


.game-card{
    display:flex;
    justify-content: center;
    align-items: center;
    min-width:100px;
    min-height: 100px;
    font-size: 1.2em;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px;
    margin: 6px;
    padding: 0px;
    border: none;
    
}

.correct-answer{
    display:flex;
    justify-content: center;
    align-items: center;
    min-width:80px;
    min-height: 100px;
    font-size: 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px;
    margin: 6px;
    padding: 0px;
    border: none;
    background-image: url(../../StylesImages/cheer.png);
    overflow: hidden;
    object-fit: fill;
}

.game-card:hover,
.game-card:focus{
    background-color: lightcoral;
    box-shadow: 0px 0px 0px 4px;
}

.game-grid{
    display:grid;
    justify-content: center;
    align-items: center;
    width:100%;
    grid-template-columns: repeat(5, 150px);
}