.vocab-answer-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    min-height: 40px;
    border: 2px solid blueviolet;
    margin: 10px;
    text-shadow: blueviolet;
    box-shadow: 0px 3px 3px teal;
    font-weight: bold;
}

.vocab-answer-button:hover {
    background-color: darkviolet;
    min-height:50px;
    margin-top:5px;
    margin-bottom:5px;
    background-color: rgb(26, 182, 26);
    color: white;
    cursor: pointer;
}

.vocab-answer-button:focus{
    background-color: darkviolet;
    min-height:50px;
    margin-top:5px;
    margin-bottom:5px;
    background-color: rgb(26, 182, 26);
    color: white;
}

.vocab-answer-button-border{
    display: flex;
    width:100%;
}

